@model IEnumerable<PIV_PF_ProyectoFinal.ViewModels.ProductoVM>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ValorMensaje == 1 || ViewBag.ValorMensaje == 0)
{
    <div class="modal fade modal-custom" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h4 class="modal-title">Mensaje</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="alert @(ViewBag.ValorMensaje == 1 ? "alert-success" : "alert-danger")">
                        @ViewBag.MensajeProceso
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

<div class="contenedor-opciones-index">
    <div class="Encabezado_Index_clientes">
        <div class="encabezado_clientes">
            <div class="titulos_clientes">
                <h1>Inventario de productos</h1>
                <h2>Accede fácil y organiza rápido tu stock</h2>
            </div>
            <img id="portada_registro_clientes" src="~/Media/tipos_de_producto.png" />
        </div>
    </div>
    <div class="contenedor_personal_medico">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <button class="btn btn-primary" onclick="window.location='@Url.Action("Create", "Producto")'">
                    <i class="bi bi-capsule"></i> Agregar producto
                </button>
                <button class="btn btn-success" onclick="window.location='@Url.Action("Index", "TipoProducto")'">
                    <i class="bi bi-capsule-pill"></i> Gestionar tipos de producto
                </button>
            </div>
            <a class="btn btn-secondary" href="/Home/Index">
                <i class="bi bi-arrow-left-circle"></i>Volver
            </a>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>N° de código</th>
                    <th>Descripción</th>
                    <th>Estado</th>
                    <th>Precio</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
                {
                    <tr>
                        <td>@p.codigo_producto</td>
                        <td>@p.descripcion</td>
                        <td>@p.estado</td>
                        <td>@p.precio</td>
                        <td>
                            <div class="btn-group-table">
                                <a class="btn btn-warning" href="@Url.Action("Update", "Producto", new { codigo_tipo = p.codigo_producto })">
                                    <i class="bi bi-pencil"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Delete", "Producto", new { codigo_tipo = p.codigo_producto})">
                                    <i class="bi bi-trash"></i>
                                </a>
                                <a class="btn btn-danger" href="@Url.Action("Details", "Producto", new { codigo_tipo = p.codigo_producto })">
                                    <i class="bi bi-trash"></i>
                                </a>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

