@model PIV_PF_ProyectoFinal.ViewModels.ProductoVM

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ValorMensaje == 1 || ViewBag.ValorMensaje == 0)
{
    <div class="modal fade modal-custom" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h4 class="modal-title">Mensaje</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="alert @(ViewBag.ValorMensaje == 1 ? "alert-success" : "alert-danger")">
                        @ViewBag.MensajeProceso
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
<div class="d-flex justify-content-between align-items-center my-2" style="padding:20px;">
    <h1>Información del producto</h1>
    <div class="boton_volver_a_gestion">

        <button type="button" class="btn btn-primary" onclick="window.location='/Producto/Index'">
            <i class="bi bi-arrow-left-circle"></i> Volver
        </button>
    </div>
</div>


<div class="contenedor-form-clientes">
    <form method="post" action="@Url.Action("ActualizarProducto", "Producto")" class="form-clientes">

        <div class="form-group">
            @Html.LabelFor(p => p.codigo_producto, new { @class = "form-label" })
            @Html.TextBoxFor(p => p.codigo_producto, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(p => p.codigo_producto, "", new { @class = "text-danger d-block mt-2" })
        </div>

        <div class="form-group">
            @Html.LabelFor(p => p.descripcion, new { @class = "form-label" })
            @Html.TextBoxFor(p => p.descripcion, new { @class = "form-control w-100" })
            @Html.ValidationMessageFor(p => p.descripcion, "", new { @class = "text-danger d-block mt-2" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.precio, new { @class = "form-label" })
            @Html.TextBoxFor(p => p.precio, new { @class = "form-control w-100", type = "number", step = "0.01", min = "0" })
            @Html.ValidationMessageFor(p => p.precio, "", new { @class = "text-danger d-block mt-2" })
        </div>
        <div class="form-group">
            @Html.LabelFor(p => p.estado, new { @class = "form-label" })
            @Html.DropDownListFor(p => p.estado, new List<SelectListItem>
            {
                new SelectListItem { Text = "En existencia", Value = "En existencia" },
                new SelectListItem { Text = "Agotado", Value = "Agotado" }
            }, "---------- Seleccione un tipo de usuario ---------", new
            { @class = "form-control w-100" })
            @Html.ValidationMessageFor(p => p.estado, "", new { @class = "text-danger d-block mt-2" })
        </div>
        <div class="form-group">
            <label for="id_tipoProducto" class="form-label">Tipo de Producto</label>
            @Html.DropDownListFor(p => p.id_tipoProducto,
          (SelectList)ViewBag.ListaTipoProducto,
          "----- Seleccionar tipo de producto -----",
          new { @class = "form-control w-100", id = "id_tipoProducto" })
            @Html.ValidationMessageFor(p => p.id_tipoProducto, "", new { @class = "text-danger d-block mt-2" })
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">
                <i class="bi bi-floppy"></i> Actuaizar producto
            </button>
            <button type="button" class="btn btn-primary" onclick="window.location='/Producto/Index'">
                <i class="bi bi-arrow-left-circle"></i> Volver
            </button>

        </div>

    </form>


</div>
}
else { 

<h1 class="text-center my-5">Error al cargar el producto</h1>

}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            @if (ViewBag.ValorMensaje == 1 || ViewBag.ValorMensaje == 0)
            {
                <text>
                $('#myModal').modal('show');
                </text>
            }

            $('#myModal').on('hidden.bs.modal', function() {
                $('#codigo_tipo').val('');
                $('#descripcion').val('');
            });
        });
    </script>
}




