
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model == null)

{
    <div class="encabezado_clientes">
        <div class="titulos_clientes">
            <h1>Eliminar Clientes</h1>
            <h2>Modifica y gestiona la información de tus clientes fácilmente</h2>
        </div>
        <img id="portada_registro_clientes" src="~/Media/eliminar_clientes.png" />
    </div>

    <div class="busqueda-editar-clientes">
        <form action="/Cliente/BuscarDelete" method="get" class="form-clientes">
            <h3>Ingrese el número de identificación de un cliente para realizar la busqueda</h3>

            <div class="form-group">
                <input type="text" id="IdCliente" name="id" class="form-input" />
            </div>

            <div class="form-group botones-busqueda">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-search"></i> Buscar cliente
                </button>
                <button type="button" class="btn btn-primary" onclick="window.location='/Cliente/Index'">
                    <i class="bi bi-arrow-left-circle"></i> Volver
                </button>
            </div>

        </form>
        <hr />
    </div>
}

@if (Model != null)
{
    <div class="resultado-busqueda-cliente">
        <h3>Resultados de la Búsqueda</h3>
        <form action="/Cliente/EliminarCliente" method="post">
            <input type="hidden" name="id" value="@Model.id_cliente" />
            <div class="grid-container-details-client">
                <div class="grid-item-details-client color-gris">
                    <h2>Detalles del registro</h2>
                    <div class="campo-cliente">
                        <label class="nombre-dato">ID del Cliente:</label>
                        <label class="valor-dato">@Model.id_cliente</label>
                    </div>
                    <div class="campo-cliente">
                        <label class="nombre-dato">Nombre del Cliente:</label>
                        <label class="valor-dato">@Model.nombre_completo</label>
                    </div>
                    <div class="campo-cliente">
                        <label class="nombre-dato">Correo Electrónico:</label>
                        <label class="valor-dato">@Model.correo_electronico</label>
                    </div>
                </div>
                <div class="grid-item-foto-perfil">
                    <img id="foto_perfil" src="~/Media/foto_perfil.png" alt="Foto de perfil" />
                </div>
                <button type="submit" class="btn btn-danger">Eliminar cliente</button>
                <a class="btn btn-primary" href="@Url.Action("Index", "Cliente")">Volver</a>
            </div>

        </form>
    </div>

}
