@model PIV_PF_ProyectoFinal.ViewModels.EditarCliente


@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (ViewBag.ValorMensaje == 1 || ViewBag.ValorMensaje == 0)
{
    <div class="modal fade modal-custom" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header d-flex justify-content-between align-items-center">
                    <h4 class="modal-title">Mensaje</h4>
                    <button type="button" class="close" data-bs-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="alert @(ViewBag.ValorMensaje == 1 ? "alert-success" : "alert-danger")">
                        @ViewBag.MensajeProceso
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model == null)

{
    <div class="encabezado_clientes">
        <div class="titulos_clientes">
            <h1>Editar Clientes</h1>
            <h2>Modifica y gestiona la información de tus clientes fácilmente</h2>
        </div>
        <img id="portada_registro_clientes" src="~/Media/editar_clientes.png" />
    </div>

    <div class="busqueda-editar-clientes">
        <form action="/Cliente/BuscarCliente" method="get" class="form-clientes">
            <input type="hidden" name="sourceView" value="Update" />
            <h3>Ingrese el número de identificación de un cliente para realizar la busqueda</h3>

            <div class="form-group">
                <input type="text" cedula="cedula" name="cedula" class="form-input w-100" />
            </div>

            <div class="form-group botones-busqueda">
                <button type="submit" class="btn btn-success">
                    <i class="bi bi-search"></i> Buscar cliente
                </button>
                <button type="button" class="btn btn-primary" onclick="window.location='/Cliente/Index'">
                    <i class="bi bi-arrow-left-circle"></i> Volver
                </button>
            </div>

        </form>
        <hr />
    </div>
}

@if (Model != null)
{
    <div class="resultado-busqueda-cliente">
        <h3>Resultados de la Búsqueda</h3>
        <form action="/Cliente/EditarCliente" method="post">
            <input type="hidden" name="cedula" value="@Model.cedula" />
            <div class="grid-container-details-client">
                <div class="grid-item-details-client color-gris">
                    <h2>Detalles del registro</h2>
                    <div class="campo-cliente">
                        <label class="nombre-dato">Cédula del Cliente:</label>
                        <label class="valor-dato">@Model.cedula</label>
                    </div>
                    <div class="campo-cliente">
                        @Html.LabelFor(c => c.nombre_completo, new { @class = "form-label" })
                        @Html.TextBoxFor(c => c.nombre_completo, new { @class = "form-control w-100" })
                        @Html.ValidationMessageFor(c => c.nombre_completo, "", new { @class = "text-danger d-block mt-2" })

                    </div>
                    <div class="campo-cliente">
                        @Html.LabelFor(c => c.correo_electronico, new { @class = "form-label" })
                        <input type="email" name="correo_electronico" value="@Model.correo_electronico" class="valor-dato" />
                        @Html.ValidationMessageFor(c => c.nombre_completo, "", new { @class = "text-danger d-block mt-2" })
                    </div>
                </div>
                <div class="grid-item-foto-perfil">
                    <img id="foto_perfil" src="~/Media/foto_perfil.png" alt="Foto de perfil" />
                </div>
                <button type="submit" class="btn btn-danger">Editar cliente</button>
                <a class="btn btn-primary" href="@Url.Action("Index", "Cliente")">Volver</a>
            </div>

        </form>
    </div>

}


@section Scripts {
    <script type="text/javascript">
        $(document).ready(function() {
            @if (ViewBag.ValorMensaje == 1 || ViewBag.ValorMensaje == 0)
            {
                <text>
                $('#myModal').modal('show');
                </text>
            }

            $('#myModal').on('hidden.bs.modal', function() {
            });
        });
    </script>
}