@model PIV_PF_ProyectoFinal.ViewModels.EditarUsuario

@{
    ViewBag.Title = "Update";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? valorMensaje = TempData["ValorMensaje"] as int?;
    string mensajeProceso = TempData["MensajeProceso"] as string;
}

@if (valorMensaje.HasValue && (valorMensaje == 1 || valorMensaje == 0))
{
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="myModalLabel">Mensaje</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="alert @(valorMensaje == 1 ? "alert-success" : "alert-danger") mb-0" role="alert">
                        @mensajeProceso
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
}

@if (Model != null)
{
    <h1 class="Cliente-titulo-details">Información del colaborador</h1>

    <div class="grid-container-details-client">

        <div class="grid-item-details-client color-gris">
            <form action="/Usuario/Update" method="post" class="form-clientes w-100">
                <h2>Detalles del registro</h2>

                @Html.HiddenFor(u => u.cedula)

                <div class="campo-cliente">
                    @Html.LabelFor(u => u.cedula, new { @class = "form-label" })
                    <label class="valor-dato">@Model.cedula</label>
                </div>

                <div class="campo-cliente">
                    @Html.LabelFor(u => u.nombre_completo, new { @class = "form-label" })
                    @Html.TextBoxFor(u => u.nombre_completo, new { @class = "form-control w-100" })
                    @Html.ValidationMessageFor(u => u.nombre_completo, "", new { @class = "text-danger d-block mt-2" })
                </div>

                <div class="campo-cliente">
                    @Html.LabelFor(u => u.correo_electronico, new { @class = "form-label" })
                    @Html.TextBoxFor(u => u.correo_electronico, new { @class = "form-control w-100" })
                    @Html.ValidationMessageFor(u => u.correo_electronico, "", new { @class = "text-danger d-block mt-2" })
                </div>

                <div class="campo-cliente">
                    @Html.LabelFor(u => u.tipo_usuario, new { @class = "form-label" })
                    @Html.DropDownListFor(u => u.tipo_usuario, new List<SelectListItem>
                    {
                        new SelectListItem { Text = "Administrador", Value = "Administrador" },
                        new SelectListItem { Text = "Vendedor", Value = "Vendedor" },
                        new SelectListItem { Text = "Contabilidad", Value = "Contabilidad" }
                    }, "---------- Seleccione un tipo de usuario ---------", new
                    { @class = "form-control w-100" })
                    @Html.ValidationMessageFor(u => u.tipo_usuario, "", new { @class = "text-danger d-block mt-2" })
                </div>

                <div class="campo-cliente">
                    @Html.LabelFor(u => u.estado, new { @class = "form-label" })
                    @Html.DropDownListFor(u => u.estado, new List<SelectListItem>
                     {
                         new SelectListItem { Text = "Activo", Value = "Activo" },
                         new SelectListItem { Text = "Inactivo", Value = "Inactivo" }
                     }, "---------- Seleccione el estado del usuario ---------", new
                     { @class = "form-control w-100" })
                    @Html.ValidationMessageFor(u => u.estado, "", new { @class = "text-danger d-block mt-2" })
                </div>

                <div class="botones d-flex justify-content-between">

                    <button type="submit" class="btn btn-success">
                        <i class="bi bi-floppy"></i> Guardar cambios
                    </button>

                    <button type="button" class="btn btn-primary" style="border-radius:14px;" onclick="window.location='/Usuario/Index'">
                        <i class="bi bi-arrow-left-circle"></i> Volver
                    </button>

                </div>

            </form>

        </div>

        <div class="grid-item-foto-perfil">
            @{
                <img id="foto_perfil" src="~/Media/foto_@(Model.tipo_usuario.ToLower()).png" />
            }

        </div>

    </div>

   

}

@if (Model == null)
{
    <h1 class="text-center my-5">Error al cargar el usuario</h1>
}


@if (valorMensaje.HasValue && (valorMensaje == 1 || valorMensaje == 0))
{
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            console.log("Modal trigger - Valor mensaje: @valorMensaje");
            var modalElement = document.getElementById('myModal');
            if (modalElement) {
                var modal = new bootstrap.Modal(modalElement, {
                    keyboard: false
                });
                modal.show();
                console.log("Modal mostrado");
            } else {
                console.error("No se encontró el elemento con id 'myModal'");
            }
        });
    </script>
}